#dataBox {
	position: absolute;
	bottom: 2%;
	left: 2%;
	width: 22%;
	height: 30%;
	background-color: $amnh-beige;
	z-index: 400;
	border: 2px solid #9bb0be;
	padding: 1%;

	#dataTitle {
		border-bottom: 1px solid #9bb0be;
	}

	#dataBody {
		overflow-y: auto;
		height: 78%;
		padding: 1%;

		li {
			padding: 1% 2%;
			margin: 2%;
			border-left: 3px solid;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			font-style: italic;
			background-color: transparent;
			&.mammal {
				border-color: $mammal-red;
			}
			&.bird {
				border-color: $bird-purple;
			}
			&.reptile {
				border-color: $reptile-green;
			}
			&.fish {
				border-color: $fish-blue;
			}
			&.invertebrate {
				border-color: $bug-gray;
			}
		}
	}
}