#dataBox{
	position: absolute;
	bottom: 2vw;
	left: 2vh;
	width: 20vw;
	height: 30vh;
	background-color: white;
	z-index: 400;
	border: 1px solid black;
	overflow: hidden;
	padding: 1%;

	#dataTitle{
		border-bottom: 1px solid black;
	}

	#dataBody{
		overflow-y: scroll;
	}
}